html, body {
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#score {
    font-size: 2em;
    font-weight: bold;
    font-family: monospace;
    width: 100%;
    text-align: center;
    color: #808080;
    padding: 1em 0;
}

#hiragana {
    font-size: 8em;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

#history-wrap {
    width: 50%;
    overflow: hidden;
    display: flex;
    margin: 2em;
}

#history {
    display: flex;
    min-height: 2em;
    font-weight: bold;
    font-size: 2em;
    align-items: center;
    flex-direction: row;
}

#history div {
    background: #ddd;
    padding: .1em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

#history-wrap #overlay {
    position: absolute;
    background: red;
    height: 100px;
    width: 50%;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 82%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 82%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 82%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
}

/*noinspection CssUnusedSymbol*/
.hit {
    margin: 0.2em;
    color: #6dab6d;
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}

/*noinspection CssUnusedSymbol*/
.miss {
    margin: 0.2em;
    color: #c24b4b;
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}

.miss span {
    font-family: monospace;
    color: #959595;
}

#input_prompt {
    border: 0;
    border-bottom: 1px solid #808080;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: #808080;
    width: 4em;
    font-size: 3em;
    font-weight: bold;
    outline: none;
}

#input_prompt:focus {
    border-bottom: 4px solid #323232;
    color: #121212;
}

#score #hits {
    color: #6dab6d;
}

#score #misses {
    color: #c24b4b;
}

#settings-button {
    position: absolute;
    margin-left: 50vw;
    margin-top: 1em;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.5em;
    background: #eee;
    padding: .2em .5em;
    border-radius: .2em;
    color: #444;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#settings-button:hover {
    background: #d6d6d6;
    color: #000;
    cursor: pointer;
}

#settings-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#settings-panel {
    width: 20em;
    height: 14em;
    background: white;
    padding: 2em;
    border-radius: 1em;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    color: #666;
    width: 100%;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #333;
    margin: 0 0 1em;
}

form p {
    display: flex;
    min-width: 15em;
    flex-direction: row;
    justify-content: space-between;
}

#settings-panel a {
    color: #888;
    font-family: sans-serif;
}

.hidden {
    visibility: hidden;
}

#choices {
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

#choices div {
    width: 4em;
    height: 4em;
    border-radius: .2em;
    border: .1em solid #ddd;
    background: #fafafa;
    text-align: center;
    line-height: 4em;
    margin: .1em;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #888;
}

#choices div:hover {
    border: .1em solid #82b5ed;
    color: #82b5ed;
    cursor: pointer;
}

.choice-number {
    position: relative;
    bottom: 2em;
    right: 0;
    font-size: .5em;
    color: #ccc;
    text-align: right;
    padding: .5em;
    margin: 0;
    line-height: 100%;
}

#choices div:hover .choice-number {
    color: #82b5ed;
}
